apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: team-b-isolation
  namespace: team-b
spec:
  podSelector: {}
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
      - podSelector: {}
  egress:
    - to:
      - podSelector: {}
